<div class="home"> 
    
    <!-- List Products FOR Guias -->
    <div id="products" ng-if="menuSelected === 1">
            
        <h1><span class="fa fa-book"></span> Emitir Guias</h1>
        
        <hr>

        
        <div class="row">
            <!-- Products -->
            <div class="col-xs-6 st-list">
                <!-- Base -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4">Referência</div> 
                        <div class="col-xs-6">Designação</div> 
                        <div class="col-xs-2 text-right"></div> 
                    </div>
                </div>
                <hr>
                <!-- Rows -->
                <div class="row grid-rows">
                    <div class="col-xs-12 product-base" ng-repeat="baseProduct in productList" ng-click="expandProduct(baseProduct)" ng-class="{'product-base-expanded' : baseProduct.expanded == true}">
                        <div class="col-xs-4">{{baseProduct.baseref}}</div> 
                        <div class="col-xs-6">{{baseProduct.basedesign}}</div> 
                        <div class="col-xs-2"><span class="pull-right fa " ng-class="{'fa-chevron-down' : baseProduct.expanded == true, 'fa-chevron-right' : !baseProduct.expanded}"></span></div> 
        
                        <!-- Expanded -->
                        <div class="col-xs-12 product-expanded" ng-if="baseProduct.expanded === true">
                                <div class="col-xs-12 product-generated" ng-repeat="product in baseProduct.generated" ng-if="baseProduct.baseref !== product.ref">
                                    <div class="col-xs-2" ng-click="product.selected = !product.selected"><span class="fa " ng-class="product.selected ? 'fa-check-square' : 'fa-square'"></span></div>
                                    <div class="col-xs-4">{{product.ref}}</div> 
                                    <div class="col-xs-6">{{product.design}}</div> 
                                </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Load date/hour and button -->            
                <div class="row grid-buttons">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            Data de carga: <input type="text" placeholder="YYYY-MM-DD" ng-model="waybillDateHour.loadDate">
                        </div>   
                        <div class="col-xs-4">
                            Hora de carga: <input type="text" placeholder="HH:mm" ng-model="waybillDateHour.loadHour">
                        </div> 
                        <div class="col-xs-4 text-right">
                            <br>
                            <button class="btn btn-success" style="padding: 3px 30px;" ng-click="requestWaybill()"><i class="fa" ng-class="loading ? 'fa-spinner fa-spin' : 'fa-book'"></i> &nbsp;Gerar guias</button>
                            <br><span style="color:green" ng-if="waybilled">Geração concluida</span>
                        </div> 
                    </div>
                </div>    
            </div>

            <!-- Clients -->
            <div class="col-xs-6 cl-list">
                <!-- Base -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <button class="btn btn-info" style="padding: 0 20px;font-size: 11px;" ng-click="selectAll()">Todos</button>
                        </div> 
                        <div class="col-xs-2">No.</div> 
                        <div class="col-xs-6">Nome</div> 
                        <div class="col-xs-2">Estab</div> 
                    </div>
                </div>
                <hr>
                <!-- Rows -->
                <div class="row grid-rows">
                    <div class="col-xs-12 product-base" ng-repeat="client in clientList | filter:filters.searchClient">
                        <div class="col-xs-2" ng-click="client.selected = !client.selected"><span class="fa " ng-class="client.selected ? 'fa-check-square' : 'fa-square'"></span></div>
                        <div class="col-xs-2">{{client.no}}</div> 
                        <div class="col-xs-6">{{client.nome}}</div> 
                        <div class="col-xs-2">{{client.estab}}</div>  
                    </div>
                </div>
                <hr>
                <!-- search -->            
                <div class="row grid-buttons">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            Pesquise cliente: <br><input type="text" placeholder="no, nome ou estab" ng-model="filters.searchClient">
                        </div>                             
                    </div>
                </div> 
            </div>

        </div>
        
    </div>


    <!-- List Clients -->
    <div id="headquarters" ng-if="menuSelected === 2">

            <h1><span class="fa fa-users"></span> Emitir Faturas</h1>
        
            <hr>

            <!-- Clients -->
            <div class="col-xs-12 cl-list">
                <!-- Base -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <button class="btn btn-info" style="padding: 0 20px;font-size: 11px;" ng-click="selectAllHeadquarters()">Todos</button>
                        </div> 
                        <div class="col-xs-2">No.</div> 
                        <div class="col-xs-6">Nome</div> 
                        <div class="col-xs-2">Estab</div> 
                    </div>
                </div>
                <hr>
                <!-- Rows -->
                <div class="row grid-rows">
                    <div class="col-xs-12 product-base" ng-repeat="headquarter in headquartersList | filter:filters.searchHeadquarter">
                        <div class="col-xs-2" ng-click="headquarter.selected = !headquarter.selected"><span class="fa " ng-class="headquarter.selected ? 'fa-check-square' : 'fa-square'"></span></div>
                        <div class="col-xs-2">{{headquarter.no}}</div> 
                        <div class="col-xs-6">{{headquarter.nome}}</div> 
                        <div class="col-xs-2">{{headquarter.estab}}</div>  
                    </div>
                </div>
                <hr>
                <!-- search -->            
                <div class="row grid-buttons">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            Pesquise Cliente: <br><input type="text" placeholder="no ou nome" ng-model="filters.searchHeadquarter">
                        </div>  
                        <div class="col-xs-4 text-right">
                            <br>
                            <button class="btn btn-success" style="padding: 3px 30px;" ng-click="requestInvoicing()"><i class="fa" ng-class="loadingInvoicing ? 'fa-spinner fa-spin' : 'fa-book'"></i> &nbsp;Gerar Faturas</button>
                            <br><span style="color:green" ng-if="invoiced">Geração concluida</span>
                        </div>                     

                    </div>
                </div> 
            </div>
    </div>


    <!-- Home -->
    <div ng-if="!menuSelected">
            <h1></span> Indutreelog </h1>
            <h4><span class="fa fa-book"></span>&nbsp;Emitir Guias</h4>
            <h4>ou</h4>
            <h4><span class="fa fa-users"></span>&nbsp;Emitir Faturas</h4>

    </div>

</div>


<!-- lateral menu -->
<div class="menu">
   
    <div class="menu-item" ng-click="menuSelection(1)" ng-class="{'menu-item-selected' : menuSelected === 1}">
        <span class="fa fa-book"></span> Emitir Guias <span class="fa fa-chevron-right"></span>
    </div>
 
    <div class="menu-item" ng-click="menuSelection(2)" ng-class="{'menu-item-selected' : menuSelected === 2}">
        <span class="fa fa-users"></span> Emitir Faturas <span class="fa fa-chevron-right"></span>
    </div>
    

</div>
    
 