body{
    background-color: rgba(0,0,0,0.7);
    color : white;
}
.container-custom{
    margin-left: 170px;
    margin-right: 20px;
}
.home{
    
    //product list option
    #products{
        .grid-rows{
            height: 600px;
            overflow: auto;
        }

        .grid-buttons{
            margin-top: 20px;
            input{ 
                color:black;
            }
        }

        .st-list{
            border-right: 1px solid white;
        }

        .prod-list{
            border-left: 1px solid white;
        }

        .product-base{
            cursor: pointer;
            padding: 5px 0;
            border-bottom: 1px solid gray;
            &:hover{
                background-color: gray;
            }

            .product-expanded{
                min-height: 40px;
                background-color: gray;    

                .product-generated{
                    padding-top: 10px;
                }
                .product-generated:last-child{
                    margin-bottom: 10px;
                }
            }
            
            
        }
        .product-base-expanded{
            &:hover{
                background-color: rgba(76,76,76,1);
            }
        }


    }

} 



.menu{
    position: absolute;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    top: 0;
    width: 150px;    

    .menu-item{
        border-top: 1px solid gray;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        cursor: pointer;

        span:nth-of-type(2){
            float: right;
            padding-right: 10px;
            padding-top: 4px;
        }

        &:hover{
            background-color: gray;
        }
        
    }
    .menu-item-selected{ 
        background-color: gray;
    }
   


}
